<div class="metrics-container">
    <div class="form-container">
      <div class="column-1">
        <mat-form-field appearance="outline">
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="picker" [formControl]="selectedDate" (dateChange)="updateChartData()">
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
  
      <div class="column-2">
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Usuarios</mat-label>
            <mat-select [formControl]="selectedUser" multiple (selectionChange)="updateChartData()" >
              <mat-select-trigger>
                {{selectedUser.value?.[0]['username'] || ''}}
                @if ((selectedUser.value?.length || 0) > 1) {
                  <span class="additional-selection">
                    (+{{(selectedUser.value?.length || 0) - 1}} {{selectedUser.value?.length === 2 ? 'usuario' : 'usuarios'}})
                  </span>
                }
              </mat-select-trigger>
              @for (user of users; track user) {
              <mat-option [value]="user" >{{user.username}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
         
          <mat-form-field appearance="outline">
            <mat-label>Rango</mat-label>
            <mat-select [formControl]="selectedRange" (selectionChange)="updateChartData()">
              <mat-option value="día">Día</mat-option>
              <mat-option value="semana">Semana</mat-option>
              <mat-option value="mes">Mes</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="row chart-container">
          <ngx-charts-bar-vertical-stacked
            [results]="data"
            [scheme]="'vivid'"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            xAxisLabel="Fecha"
            yAxisLabel="Consultas realizadas">
          </ngx-charts-bar-vertical-stacked>
        </div>
      </div>
    </div>
  </div>
  