<div class="chat-container">
    <!--<h2>ChatBot</h2>-->
    <div class="chat-box">
        <div *ngFor="let message of messages" [ngClass]="message.sender">
            <p>{{ message.text }}</p>
        </div>
    </div>
    <mat-form-field class="full-width">
        <mat-label>Escribe una consulta</mat-label>
        <input matInput [(ngModel)]="question" placeholder="Preguntame algo...">
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" class="full-width" (click)="sendMessage()">Envíar</button>
</div>


