body {
  background-color: #f5f7fb;
  font-family: 'Arial', sans-serif;
  color: #202123;
  margin: 0;
}

.nav-toolbar {
  background: white !important;
  color: #333;
  margin: 0 16px;
  border-bottom: 1px solid #e0e0e0;
}

.logo {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.spacer {
  flex: 1 1 auto;
}

.nav-toolbar a{
  padding: 32px 10px;
} 

.nav-item:hover {
  background-color: #ffeb3b !important; /* This is Material Yellow 300 */
  color: #202123;
}

button.full-width {
  transition: background-color 0.3s ease;
}

button.full-width:hover {
  background-color: #ffeb3b !important; /* This is Material Yellow 300 */
  color: #202123;
}